<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>904030671929-ed3dsqji5t8ml1mivh96jbftivilfilp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.904030671929-ed3dsqji5t8ml1mivh96jbftivilfilp</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>904030671929-7ejbfbe50isho55vr72k90sfjp03oh9k.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBr5l6EFOfSJ1-SZ6drBZsCySliZ77pY4A</string>
	<key>GCM_SENDER_ID</key>
	<string>904030671929</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.sms</string>
	<key>PROJECT_ID</key>
	<string>flutter-sms-auth</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-sms-auth.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:904030671929:ios:f9aada28908217739869e8</string>
</dict>
</plist>